fastapi
uvicorn[standard]
sqlmodel
asyncpg
jinja2
python-multipart
passlib[bcrypt]
python-jose[cryptography]
argon2-cffi
alembic
redis
pydantic
pydantic-settings
aiofiles
httpx>=0.25
pytest-dotenv
aiosqlite
greenlet>=2.0
pytest-asyncio==0.23.4