<!doctype html>
<html>
  <head><title>HOEJ - Choose Persona</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="p-8">
    <div class="max-w-xl mx-auto">
      <h1 class="text-3xl font-bold">Choose Persona</h1>
      <div class="mt-6">
        <a href="/user" class="block p-4 bg-blue-500 text-white rounded">I am a User</a>
        <a href="/admin" class="block p-4 bg-gray-700 text-white rounded mt-4">I am an Admin</a>
      </div>
    </div>
  </body>
</html>
